{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Yatube - учебный проект Яндекс Практикум</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python
      </li>
      <li class="list-group-item">
        Django
      </li>
      <li class="list-group-item">
        Bootstrap
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Для сайта использован стек технологий Python-Django-Bootstrap.</p>
    <p>
      Python -  высокоуровневый объектно-ориентированный язык 
      программирования, широко используемый, в том числе,
      для создания веб-сайтов.
    </p>
    <p>
      Django — фреймворк для веб-приложений на языке
      Python, использующий шаблон проектирования MVC. 
    </p>
    <p>
      Bootstrap — набор инструментов для создания сайтов
      и веб-приложений. Включает в себя HTML- и CSS-шаблоны оформления
    </p>
  </article>
</div>
{% endblock %}
